* {
  box-sizing: border-box;
}

html {
  min-block-size: 100%;
  background: var(--color-canvas);
}

body {
  min-block-size: 100%;
  margin: 0;
  color: var(--color-text-primary);
  background: var(--color-canvas);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

#app {
  min-block-size: 100dvb;
}
